body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}
h2{
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 50px;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
}

button{
    padding: 1em 3em;
    border: none;
    border-radius: 25px;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
    
}
.container{
    width: max-content;
    margin: 10em auto;
    display: flex;
    
}
.card{
    width:270px;    
    color: #fff;
    padding: 3em;
}
.card p{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 25px;
    padding: 1em 0 4em 0;
}
.card--orange{
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}
.card--orange button{
    color: hsl(31, 77%, 52%);
}
.card--darkblue{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}
.card--darkblue button{
    color: hsl(179, 100%, 13%)
}
.card--blue{
    background-color: hsl(184, 100%, 22%);
}
.card--blue button{
    color: hsl(184, 100%, 22%);
}